<nav>
    <div class="nav-wrapper">
      <a href="/home/welcome" class="brand-logo" style="margin-left:10px">SNS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home/index">타임라인</a></li>
        <li><a href="/home/me">만든이</a></li>
      </ul>
    </div>
</nav>

<div class="container">
<br>
<br>
    <p>나다</p>
<br>
<br>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">SNS 만들기</h5>
                <p class="grey-text text-lighten-4">페이스북을 따라해보려 했지만 쉽지 않았다</p>
              </div>
              <!--<div class="col l4 offset-l2 s12">-->
              <!--  <h5 class="white-text">Links</h5>-->
              <!--  <ul>-->
              <!--    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>-->
              <!--    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>-->
              <!--    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
              <!--    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
              <!--  </ul>-->
              <!--</div>-->
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 LikeLion Hayden
            <a class="grey-text text-lighten-4 right" href="http://www.likelion.net/">LikeLion Homepage</a>
            </div>
          </div>
        </footer>