<nav>
    <div class="nav-wrapper">
      <a href="/home/welcome" class="brand-logo" style="margin-left:10px">SNS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home/index">타임라인</a></li>
        <li><a href="/home/me">만든이</a></li>
      </ul>
    </div>
</nav>
<img src="https://www.union.ic.ac.uk/scc/law/wp-content/uploads/2015/10/welcome.jpg" style="max-width: 100%; height: auto;">